<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567366538740-kb7dd4hcclbjsovh2tmdcdedhmov2jqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567366538740-kb7dd4hcclbjsovh2tmdcdedhmov2jqk</string>
	<key>API_KEY</key>
	<string>AIzaSyDK6RGPchQSzNpLWwBEzAlM7gTg_tqojh8</string>
	<key>GCM_SENDER_ID</key>
	<string>567366538740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tojin.ilggun</string>
	<key>PROJECT_ID</key>
	<string>tojin-4e2dd</string>
	<key>STORAGE_BUCKET</key>
	<string>tojin-4e2dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567366538740:ios:eb46bd30a2aa188e4895a1</string>
</dict>
</plist>