<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193721987512-qb62deqfn1dti9uapv4udj4rt0netcji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193721987512-qb62deqfn1dti9uapv4udj4rt0netcji</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>193721987512-hdm7l783r4iuhkhd2me04bfvct5a7n5m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkBlNC_u-Vt_7MaDnrZXUq23pzn8mEjs0</string>
	<key>GCM_SENDER_ID</key>
	<string>193721987512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toojin.illgun</string>
	<key>PROJECT_ID</key>
	<string>ilggun</string>
	<key>STORAGE_BUCKET</key>
	<string>ilggun.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193721987512:ios:5ee1f13ad5a4c236a9df4d</string>
</dict>
</plist>